# Python
.venv/
venv/
__pycache__/
*.pyc

# Environment
.env

# Node
node_modules/
frontend/node_modules/

# VS Code
.vscode/

# macOS
.DS_Store

# React Build
frontend/dist/

# Uploaded files
backend/uploads/*

# Generated reports
backend/outputs/*